/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*--------------------- 
    common style
------------------------ */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}


/*-------------------------
     top banner style
--------------------------- */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #161616;
    border-radius: 30px;
    height: 600px;
}
.banner-info{
    margin-left: 100px;
}
.banner-info h1{
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.banner-info p{
    margin-top: -44px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.watch-btn{
    width: 187px;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
   
}
.watch-btn:hover{
    background-color: #161616;
}

.watch-btn .fa-greater-than{
    color: #FFFFFF;
    margin-left: 10px;
}
.banner-img img{
    margin-top: 60px;
    width: 100%;
}

/*-------------------------------------
          navbar and blogs 
---------------------------------------*/
.match-blogs
{
 display: flex;
}


/*---------------------------------
           navbar style
-----------------------------------*/
.side-nav {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    width: 81%;
}

.match-blogs .match-btn{
    box-sizing: border-box;
    display: block;
    background-color: #FFFFFF;
    font-weight: 500;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 39px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    color: #161616;
}
.active{
    display: block;
    font-weight: 500;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 39px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    background: #DD0000;
    color: #FFFFFF;
}
.match-blogs .match-btn:hover
{
    background: #DD0000;
    color: #FFFFFF;
}

/*-------------------------------
           Blog style
--------------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    width: 55%;
    margin-left: 10px;
    margin-top: 130px;
}
.blog{
 
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    height: 100%;
}
.blog-img {
    display: flex;
    padding: 10px;
    margin-top: 18px;
}
.blog .blog-img img {
    width: 93.04px;
height: 56.18px;
}
.blog-detail{
 padding: 20px;
 text-align: center;
}
.blog-detail h3 {
    font-weight: 600;
    font-size: 14px;
    color: #161616;
    margin-top: 0px;
    margin-bottom: 0px;
}

.blog-detail p{
    font-weight: 400;
font-size: 14px;
}
/*---------------------------------
                footer
--------------------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #161616;
    margin: 50px -9px -9px -9px;
  
}
footer h1{
    color: #FFFFFF;
    font-weight: 600;
font-size: 40px;
margin-top: 100px;
}

.line{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
}
.bottom-menu ul{
    display: flex;
    justify-content: center;
}

.bottom-menu ul li{
    padding: 5px 20px;
    list-style: none;
}

.bottom-menu ul li a{
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
font-size: 16px;
}
.footer-icons {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-icons i{
    padding: 10px;
    color: #FFFFFF;
    font-size: 20px;
}





/*---------------------------------------------
           media quary mobile
----------------------------------------------- */
@media screen and (max-width: 576px) {

    .top-banner{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    height: 100%;
    margin-left: 0px;
}
.banner-info{
    margin: 10px;
    text-align: center;
}

.banner-info h1 {
    font-size: 36px;
    margin-bottom: 51px;
}

.banner-p{
    width: 367px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.watch-btn{
    width: 100px;
    padding: 10px 15px;
    font-size: 16px;
   
}
.banner-img img{
    margin-left: 60px;
    width: 80%;
}

.match-blogs
{
flex-direction: column;
}
.side-nav{
margin-top: -20px;
background-color: #ffffff;
margin-bottom: -90px;
}
.match-btn{
    border: 1px solid gray;
}

.blogs{
    grid-template-columns: repeat(1,1fr);
}
.blog{
    width: 281px;
}
.blog .blog-img img {
    width: 281px;
}

.bottom-menu ul{
   flex-direction: column;
   text-align: center;
   margin-left: -27px;
}
.footer-icons{
   margin-left: 20px;
}
}


/*---------------------------------------------
              media query tablet
----------------------------------------------- */

@media screen and (min-width: 577px) and (max-width: 992px)
{

    .top-banner {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .banner-info {
        margin-left: 55px;
    }
    .banner-info h1 {
        font-size: 40px;
    }
    .banner-img img{
        
        width: 100%;
    }
    .match-blogs{
        flex-direction: column;
    }
    .side-nav {
        width: 100%;
        background: #FFFFFF;
        margin-top: 0;
        height: 100%;
    }
    .link{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .match-blogs .match-btn{
        border: 1px solid #E8E8E8;
    }
    .blogs{
          grid-template-columns: repeat(2,1fr);
    }
    
    .blog .blog-img img{
        width: 17vw;
    }
    .bottom-menu ul{
      display: grid;
      grid-template-columns: repeat(4,1fr);
    }
 
}